[tool.poetry]
name = "charmcraftcache"
version = "0.3.6"
description = "Fast first-time builds for charmcraft"
authors = ["Carl Csaposs <carl.csaposs@canonical.com>"]
readme = "README.md"

[tool.poetry.scripts]
ccc = "charmcraftcache.main:app"
charmcraftcache = "charmcraftcache.main:app"

[tool.poetry.dependencies]
python = "^3.10"
pip = "^24.2"
typer = {extras = ["all"], version = "^0.12.5"}
requests = "^2.32.3"
packaging = "^24.1"
pyyaml = "^6.0.2"

[tool.poetry.group.format.dependencies]
black = "^24.8.0"
isort = "^5.13.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
